button {
  cursor: pointer;
}
.subscribe {
  background-color: #cc1212;
  margin-right: 8px;
  color: white;
  border: none;
  padding: 10px 18px;
  border-radius: 2px;
  transition: opacity 300ms;
  vertical-align: top; /* aligns the button to the top of the line, not based on text */
}
.subscribe:hover {
  opacity: 0.7;
}
.subscribe:active {
  opacity: 0.5;
}

.join {
  vertical-align: top; /* aligns the button to the top of the line, not based on text */
  margin-right: 8px;
  background-color: white;
  color: rgb(25, 66, 253);
  border: 1px solid rgb(25, 66, 253);
  padding: 9px 16px;
  border-radius: 2px;
  transition: background-color 300ms, color 300ms;
}
.join:hover {
  background-color: rgb(25, 66, 253);
  color: white;
}
.join:active {
  opacity: 0.7;
}

.tweet {
  vertical-align: top; /* aligns the button to the top of the line, not based on text */
  background-color: rgb(32, 144, 250);
  color: white;
  border: none;
  border-radius: 18px;
  padding: 10px 16px;
  font-weight: bold;
  font-size: 15px;
  transition: box-shadow 300ms;
}
.tweet:hover {
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.25);
}
.tweet:active {
  opacity: 0.7;
}

.backBtn {
  margin: 5px;
  padding: 8px 5px;
}

.nextBtn {
  margin: 5px;
  padding: 8px 5px;
}

.stretchBtn {
  background-color: green;
  color: white;
  border: none;
  padding: 8px 10px;
  transition: padding 300ms;
}
.stretchBtn:hover {
  padding: 20px 30px;
}

.shadowBtn {
  background-color: green;
  color: white;
  border: none;
  padding: 8px 10px;
  box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.25);
}
.shadowBtn:active {
  margin-top: 5px;
  margin-left: 5px;
  box-shadow: none;
}

.Btn {
  margin: 5px;
  padding: 5px 10px;
  background-color: green;
  color: white;
  border: none;
  transition: padding 300ms, margin 300ms;
}
.Btn:hover {
  padding: 5px 12px;
  margin: 3px;
}
