.header {
  height: 55px;
  border-bottom: 1px solid rgb(216, 214, 214);
  background-color: white;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

.left-header {
  display: flex;
  align-items: center;
}

.hamburger-menu {
  height: 23px;
  margin: auto 24px;
  cursor: pointer;
}

.youtube-logo {
  height: 22px;
  cursor: pointer;
}

.middle-header {
  flex: 1;
  margin: auto 40px auto 70px;
  max-width: 500px;

  display: flex;
  align-items: center;
}

.search-bar {
  border: 1px solid rgb(199, 198, 198);
  border-radius: 2px;
  height: 36px;
  width: 0; /*To shrink the search bar*/
  flex: 1;
  padding-left: 12px;
  font-size: 16px;
  box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.105);
}

.search-bar::placeholder {
  font-family: Roboto, Arial;
  font-size: 16px;
}

.search-button,
.voice-search-button,
.upload-icon-container,
.app-icon-container,
.notification-icon-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-button {
  height: 40px;
  width: 70px;
  margin: -1px;
  border: 1px solid rgb(199, 198, 198);
  border-radius: 2px;
  background-color: rgb(241, 236, 236);
  cursor: pointer;
  position: relative;
}

.search-button .tooltip,
.voice-search-button .tooltip,
.upload-icon-container .tooltip,
.app-icon-container .tooltip,
.notification-icon-container .tooltip {
  position: absolute;
  background-color: gray;
  color: white;
  padding: 4px 8px;
  font-family: Roboto, Arial;
  font-size: 12px;
  bottom: -30px;
  opacity: 0;
  transition: opacity 0.15s;
  pointer-events: none;
  white-space: nowrap;
}

.search-button:hover .tooltip,
.voice-search-button:hover .tooltip,
.upload-icon-container:hover .tooltip,
.app-icon-container:hover .tooltip,
.notification-icon-container:hover .tooltip {
  opacity: 1;
}
.search-button:hover {
  background-color: rgb(226, 223, 223);
}

.search-icon {
  height: 70%;
}

.voice-search-button {
  height: 40px;
  width: 40px;
  margin-left: 10px;
  border: none;
  background-color: rgb(247, 245, 245);
  border-radius: 50%;
  cursor: pointer;
  position: relative;
}

.voice-search-button:hover {
  background-color: rgb(228, 224, 224);
}

.voice-search-icon {
  height: 65%;
}

.right-header {
  width: 200px;
  margin-right: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0; /*avoid shrink the header*/
}

.upload-icon,
.app-icon,
.notification-icon {
  height: 25px;
  cursor: pointer;
}

.notification-icon-container {
  position: relative;
  cursor: pointer;
}

.notification-count {
  position: absolute;
  top: -3px;
  right: -5px;
  background-color: rgb(206, 7, 7);
  color: white;
  border-radius: 50%;
  font-family: Roboto, Arial;
  font-size: 10px;
  padding: 2px 6px;
}

.my-channel-image {
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
}
